<div>
    <h2 id="page-heading">
        <span jhiTranslate="escapeRoomApp.osoba.home.title">Osobas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-osoba" [routerLink]="['/osoba/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="escapeRoomApp.osoba.home.createLabel">
            Create new Osoba
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="osobas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="escapeRoomApp.osoba.imie">Imie</span></th>
            <th><span jhiTranslate="escapeRoomApp.osoba.nazwisko">Nazwisko</span></th>
            <th><span jhiTranslate="escapeRoomApp.osoba.login">Login</span></th>
            <th><span jhiTranslate="escapeRoomApp.osoba.haslo">Haslo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let osoba of osobas ;trackBy: trackId">
                <td><a [routerLink]="['/osoba', osoba.id, 'view' ]">{{osoba.id}}</a></td>
                <td>{{osoba.imie}}</td>
                <td>{{osoba.nazwisko}}</td>
                <td>{{osoba.login}}</td>
                <td>{{osoba.haslo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/osoba', osoba.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/osoba', osoba.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'osoba', { outlets: { popup: osoba.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
