<div>
    <h2 id="page-heading">
        <span jhiTranslate="escapeRoomApp.escapeRoom.home.title">Escape Rooms</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-escape-room" [routerLink]="['/escape-room/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="escapeRoomApp.escapeRoom.home.createLabel">
            Create new Escape Room
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="escapeRooms">
        <div class="list-group">
            <a href="#" [routerLink]="['/escape-room', escapeRoom.id, 'view']" class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let escapeRoom of escapeRooms ;trackBy: trackId">
                <div class="row">
                    <div class="col-2 col-md-auto justify-content-center">
                        <a *ngIf="escapeRoom.zdjecie" (click)="openFile(escapeRoom.zdjecieContentType, escapeRoom.zdjecie)">
                            <img [src]="'data:' + escapeRoom.zdjecieContentType + ';base64,' + escapeRoom.zdjecie" style="max-height: 150px;" alt="escapeRoom image"/>
                        </a>
                    </div>
                    <div class="col col-md-auto justify-content-center">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{escapeRoom.nazwa}}</h5>
                        </div>
                        <small class="mb-1">{{escapeRoom.stronaWWW}}</small>
                        <p class="mb-1">Cena: {{escapeRoom.cena}} zł</p>
                        <small>
                            Ilość osób:
                            <span>{{escapeRoom.iloscOsob}}</span>
                        </small>
                    </div>
                </div>
            </a>
            <thead *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="zdjecie"><span jhiTranslate="escapeRoomApp.escapeRoom.zdjecie">Zdjecie</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th jhiSortBy="nazwa"><span jhiTranslate="escapeRoomApp.escapeRoom.nazwa">Nazwa</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'"  infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let escapeRoom of escapeRooms ;trackBy: trackId">
                <td>
                    <a *ngIf="escapeRoom.zdjecie" (click)="openFile(escapeRoom.zdjecieContentType, escapeRoom.zdjecie)">
                        <img [src]="'data:' + escapeRoom.zdjecieContentType + ';base64,' + escapeRoom.zdjecie" style="max-height: 30px;" alt="escapeRoom image"/>
                    </a>

                </td>

                <td>{{escapeRoom.nazwa}}</td>

                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/escape-room', escapeRoom.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/escape-room', escapeRoom.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', 'escape-room', { outlets: { popup: escapeRoom.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </div>
    </div>
</div>
