<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="escapeRoom">
            <h2>
                <span>{{escapeRoom.nazwa}}</span>
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt></dt>
                <dd>
                    <div *ngIf="escapeRoom.zdjecie">
                        <a (click)="openFile(escapeRoom.zdjecieContentType, escapeRoom.zdjecie)">
                            <img [src]="'data:' + escapeRoom.zdjecieContentType + ';base64,' + escapeRoom.zdjecie" style="max-width: 100%;" alt="escapeRoom image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.opis">Opis</span></dt>
                <dd>
                    <span>{{escapeRoom.opis}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.ulica">Ulica</span></dt>
                <dd>
                    <span>{{escapeRoom.ulica}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.miasto">Miasto</span></dt>
                <dd>
                    <span>{{escapeRoom.miasto}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.kodPocztowy">Kod Pocztowy</span></dt>
                <dd>
                    <span>{{escapeRoom.kodPocztowy}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.email">Email</span></dt>
                <dd>
                    <span>{{escapeRoom.email}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.telefon">Telefon</span></dt>
                <dd>
                    <span>{{escapeRoom.telefon}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.stronaWWW">Strona WWW</span></dt>
                <dd>
                    <span>{{escapeRoom.stronaWWW}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.iloscOsob">Ilosc Osob</span></dt>
                <dd>
                    <span>{{escapeRoom.iloscOsob}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.cena">Cena</span></dt>
                <dd>
                    <span>{{escapeRoom.cena}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.pktDoZdobycia">Pkt Do Zdobycia</span></dt>
                <dd>
                    <span>{{escapeRoom.pktDoZdobycia}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.wymaganaIloscPkt">Wymagana Ilosc Pkt</span></dt>
                <dd>
                    <span>{{escapeRoom.wymaganaIloscPkt}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.poziomTrudnosci">Poziom Trudnosci</span></dt>
                <dd>
                    <span jhiTranslate="{{'escapeRoomApp.Poziom.' + escapeRoom.poziomTrudnosci}}">{{escapeRoom.poziomTrudnosci}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.czasNaPrzejscie">Czas Na Przejscie</span></dt>
                <dd>
                    <span>{{escapeRoom.czasNaPrzejscie}}</span>
                </dd>
                <dt><span jhiTranslate="escapeRoomApp.escapeRoom.wlasciciel">Wlasciciel</span></dt>
                <dd>
                    <span *ngFor="let wlasciciel of escapeRoom.wlasciciels; let last = last">
                        <a [routerLink]="['/wlasciciel', wlasciciel?.id, 'view' ]">{{wlasciciel.imie}} {{wlasciciel.nazwisko}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/escape-room', escapeRoom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
