<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wizyty-heading" jhiTranslate="escapeRoomApp.wizyty.home.createOrEditLabel">Create or edit a Wizyty</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!wizyty.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wizyty.dataWizyty" for="field_dataWizyty">Data Wizyty</label>
                    <div class="input-group">
                        <input id="field_dataWizyty" type="text" class="form-control" name="dataWizyty" ngbDatepicker  #dataWizytyDp="ngbDatepicker" formControlName="dataWizyty"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataWizytyDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wizyty.opinie" for="field_opinie">Opinie</label>
                    <select class="form-control" id="field_opinie" name="opinie" formControlName="opinie">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="opinieOption.id === editForm.get('opinie').value?.id ? editForm.get('opinie').value : opinieOption" *ngFor="let opinieOption of opinies; trackBy: trackOpinieById">{{opinieOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wizyty.klient" for="field_klient">Klient</label>
                    <select class="form-control" id="field_klient" name="klient" formControlName="klient">
                        <option *ngIf="!editForm.get('klient').value" [ngValue]="null" selected></option>
                        <option [ngValue]="klientOption.id === editForm.get('klient').value?.id ? editForm.get('klient').value : klientOption" *ngFor="let klientOption of klients; trackBy: trackKlientById">{{klientOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('klient').invalid && (editForm.get('klient').dirty || editForm.get('klient').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('klient').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wizyty.escaperoom" for="field_escaperoom">Escaperoom</label>
                    <select class="form-control" id="field_escaperoom" name="escaperoom" formControlName="escaperoom">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="escapeRoomOption.id === editForm.get('escaperoom').value?.id ? editForm.get('escaperoom').value : escapeRoomOption" *ngFor="let escapeRoomOption of escaperooms; trackBy: trackEscapeRoomById">{{escapeRoomOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
