<div>
    <h2 id="page-heading">
        <span jhiTranslate="escapeRoomApp.wizyty.home.title">Wizyties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wizyty" [routerLink]="['/wizyty/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="escapeRoomApp.wizyty.home.createLabel">
            Create new Wizyty
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wizyties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataWizyty"><span jhiTranslate="escapeRoomApp.wizyty.dataWizyty">Data Wizyty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opinie.opinia"><span jhiTranslate="escapeRoomApp.wizyty.opinie">Opinie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="escapeRoomApp.wizyty.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="escapeRoom.nazwa"><span jhiTranslate="escapeRoomApp.wizyty.escapeRoom">Escape Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let wizyty of wizyties ;trackBy: trackId">
                <td><a [routerLink]="['/wizyty', wizyty.id, 'view' ]">{{wizyty.id}}</a></td>
                <td>{{wizyty.dataWizyty | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="wizyty.opinie">
                        <a [routerLink]="['../opinie', wizyty.opinie?.id, 'view' ]" >{{wizyty.opinie?.opinia}}</a>
                    </div>
                </td>
                <td>
                    {{wizyty.user?.login}}
                </td>
                <td>
                    <div *ngIf="wizyty.escapeRoom">
                        <a [routerLink]="['../escape-room', wizyty.escapeRoom?.id, 'view' ]" >{{wizyty.escapeRoom?.nazwa}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/wizyty', wizyty.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wizyty', wizyty.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'wizyty', { outlets: { popup: wizyty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
