<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wlasciciel-heading" jhiTranslate="escapeRoomApp.wlasciciel.home.createOrEditLabel">Create or edit a Wlasciciel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!wlasciciel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wlasciciel.imie" for="field_imie">Imie</label>
                    <input type="text" class="form-control" name="imie" id="field_imie"
                           formControlName="imie"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escapeRoomApp.wlasciciel.nazwisko" for="field_nazwisko">Nazwisko</label>
                    <input type="text" class="form-control" name="nazwisko" id="field_nazwisko"
                           formControlName="nazwisko"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
